<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.groundlight.start_coffee</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/zoomroom/dev/coffee_demo/start-coffee.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.groundlight.start_coffee.stderr</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.groundlight.start_coffee.stdout</string>
</dict>
</plist>

